In [1]:
import numpy as np
import pandas as pd

In [2]:
#input = cust_req
#input = quantity
#if cust_reg = wheat, dal, or rice
#get the month of purhase by keeping a variable
#month,crop,

In [3]:
#using the above, get the small dataframe containing the farmers that grow rice in a particular state.
#we need to get the average produce for every farmer

In [4]:
farmer = pd.read_csv(r'C:\Users\Rishabh\Desktop\farmer.csv')
farmer.head()

  month        state  farmer_name   crop   produce
0   Jan        Bihar            0   rice  0.293187
1   Jan        Bihar            0  wheat  0.487419
2   Jan        Bihar            0    dal  0.498680
3   Jan  Maharashtra            0   rice  0.300485
4   Jan  Maharashtra            0  wheat  0.356750

In [5]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

In [6]:
cust_req = 'wheat'
cust_state = 'bihar'
small_df = farmer[farmer.crop == cust_req]

In [74]:
cust_req = 'wheat'
cust_state = 'bihar'

In [7]:
small_df.head()

   month        state  farmer_name   crop   produce
1    Jan        Bihar            0  wheat  0.487419
4    Jan  Maharashtra            0  wheat  0.356750
7    Jan   Tamil Nadu            0  wheat  0.372304
10   Jan    Rajasthan            0  wheat  0.696305
13   Jan    Meghalaya            0  wheat  0.683087

In [8]:
farmer_df = pd.read_csv(r'C:\Users\Rishabh\Desktop\farmer_data.csv')

In [9]:
farmer_df.head()

,state,farmer_name,land,morgage,previous_sale,working_strength,alternate_source
0,bihar,0,-0.025540,0,0,2,0
1,bihar,1,-0.069528,1,1,2,1
2,bihar,2,-0.025038,0,1,3,0
3,bihar,3,-0.415389,0,0,1,0
4,bihar,4,0.228109,1,0,2,0

In [10]:
produce_farmer_wise = []
#list(small_df.state.unique())
list(small_df.farmer_name.unique())

[0, 1, 2, 3, 4]

In [11]:
float(pd.DataFrame(small_df.produce[small_df.state == 'Bihar'][small_df.farmer_name == 0]).mean())

0.5007801758773621

In [12]:

for st in list(small_df.state.unique()):
    for f_name in list(small_df.farmer_name.unique()):
        temp = []
        temp.append(st)
        temp.append(f_name)
        temp.append(float(pd.DataFrame(small_df.produce[small_df.state == st][small_df.farmer_name == f_name]).mean()))
        produce_farmer_wise.append(temp)

In [13]:
to_df = pd.DataFrame(produce_farmer_wise , columns = {'state' , 'farmer_name' , 'avg_prod'})

In [14]:
#produce_farmer_wise
to_df.columns = ['state' , 'farmer_name' , 'avg_prod']

In [15]:
to_df.head()

   state  farmer_name  avg_prod
0  Bihar            0  0.500780
1  Bihar            1  0.394242
2  Bihar            2  0.461322
3  Bihar            3  0.453728
4  Bihar            4  0.589215

In [16]:
def d_score(produce , land , morgage , prev , working , alter):
    return sigmoid(-0.25 * produce - 0.35 * land + 0.85 * morgage + 0.33 * working - 0.22 * alter + prev * -0.1)

In [17]:
def distress(st , f_nam , prod):
    f = farmer_df[farmer_df.state == st.lower()][farmer_df.farmer_name == f_nam]
    return d_score(prod , f["land"] , f["morgage"] , f["previous_sale"] , f["working_strength"] , f["alternate_source"])

In [56]:
farmer_df["distress"] = np.repeat(0 , 25)
for i in range(to_df.shape[0]):
    f = to_df.iloc[i]
    farmer_df["distress"].iloc[i] = float(distress(f["state"] , f["farmer_name"] , f["avg_prod"]))

C:\Users\Rishabh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [57]:
farmer_df.head()

,state,farmer_name,land,morgage,previous_sale,working_strength,alternate_source,distress
0,bihar,0,-0.025540,0,0,2,0,0.632683
1,bihar,1,-0.069528,1,1,2,1,0.753204
2,bihar,2,-0.025038,0,1,3,0,0.686419
3,bihar,3,-0.415389,0,0,1,0,0.589513
4,bihar,4,0.228109,1,0,2,0,0.782936

In [58]:
states = ["bihar" , "maharashtra" , "meghalaya" , "rajasthan" , "tamil_nadu"]

In [85]:
bihar = {      "bihar":{"roadways":1.0000 , "waterways":1.0000 , "train":1.0000} ,
         "maharashtra":{"roadways":0.7500 , "waterways":0.0900 , "train":0.8200} ,
           "meghalaya":{"roadways":0.5500 , "waterways":0.0003 , "train":0.4500} , 
           "rajasthan":{"roadways":0.8100 , "waterways":0.0002 , "train":0.8800} , 
          "tamil_nadu":{"roadways":0.7100 , "waterways":0.1900 , "train":0.7700} }
maharashtra = {"bihar":{"roadways":0.7500 , "waterways":0.0900 , "train":0.8200} ,
         "maharashtra":{"roadways":1.0000 , "waterways":1.0000 , "train":1.0000} ,
           "meghalaya":{"roadways":0.4500 , "waterways":0.0002 , "train":0.5500} , 
           "rajasthan":{"roadways":0.9200 , "waterways":0.0300 , "train":0.9800} , 
          "tamil_nadu":{"roadways":0.7500 , "waterways":0.6900 , "train":0.8300} }
meghalaya =   {"bihar":{"roadways":0.5500 , "waterways":0.0003 , "train":0.3500} , 
         "maharashtra":{"roadways":0.4500 , "waterways":0.0002 , "train":0.5500} , 
           "meghalaya":{"roadways":1.0000 , "waterways":1.0000 , "train":1.0000} ,
           "rajasthan":{"roadways":0.7100 , "waterways":0.0001 , "train":0.3500} , 
          "tamil_nadu":{"roadways":0.3000 , "waterways":0.0040 , "train":0.4500} }
rajasthan =   {"bihar":{"roadways":0.8100 , "waterways":0.0002 , "train":0.8800} ,
         "maharashtra":{"roadways":0.9200 , "waterways":0.0300 , "train":0.9800} ,
           "meghalaya":{"roadways":0.7100 , "waterways":0.0001 , "train":0.3500} ,
           "rajasthan":{"roadways":1.0000 , "waterways":1.0000 , "train":1.0000} ,
          "tamil_nadu":{"roadways":0.6500 , "waterways":0.4500 , "train":0.7500} }
tamil_nadu =  {"bihar":{"roadways":0.7100 , "waterways":0.1900 , "train":0.7700} , 
         "maharashtra":{"roadways":0.7500 , "waterways":0.6900 , "train":0.8300} , 
           "meghalaya":{"roadways":0.3000 , "waterways":0.0040 , "train":0.4500} , 
           "rajasthan":{"roadways":0.6500 , "waterways":0.4500 , "train":0.7500} ,
          "tamil_nadu":{"roadways":1.0000 , "waterways":1.0000 , "train":1.0000} }

In [86]:
tot = dict(zip(states , [bihar , maharashtra , meghalaya , rajasthan , tamil_nadu]))
transport = ["roadways" , "waterways" , "train"]

In [87]:
tot["bihar"]["meghalaya"]["waterways"]

0.0003

In [88]:
sold_df = pd.read_csv(r'C:\Users\Rishabh\Desktop\sold.csv')

def sold(st , f_name):
    f_df = sold_df[sold_df.state == st][sold_df.farmer_name == f_name]
    if(f_df.shape[0] == 0):
        return 0
    else:
        return sum(f_df.sold.values)

In [89]:
best_farmer_name = 0
best_farmer_state = "" 
best_score = 0
for i in range(farmer_df.shape[0]):
    f = farmer_df.iloc[i]
    f_state = f["state"]
    f_state = f_state.replace(' ' , '_')
    trans_road = tot[cust_state][f_state]["roadways"]
    trans_water = tot[cust_state][f_state]["waterways"]
    trans_rail = tot[cust_state][f_state]["train"]
    if(trans_road > trans_water and trans_road > trans_rail and sigmoid(trans_road*f["distress"] + sold(f["state"] , f["farmer_name"])) > best_score):
        best_farmer_name = f["farmer_name"]
        best_farmer_state = f["state"]
        best_score = sigmoid(trans_road*f["distress"] + sold(f["state"] , f["farmer_name"]))
    elif(trans_water > trans_road and trans_water > trans_rail and sigmoid(trans_water*f["distress"] + sold(f["state"] , f["farmer_name"])) > best_score):
        best_farmer_name = f["farmer_name"]
        best_farmer_state = f["state"]
        best_score = sigmoid(trans_water*f["distress"] + sold(f["state"] , f["farmer_name"]))
    elif(trans_rail > trans_water and trans_rail > trans_road and sigmoid(trans_rail * f["distress"] + sold(f["state"] , f["farmer_name"]))> best_score):
        best_farmer_name = f["farmer_name"]
        best_farmer_state = f["state"]
        best_score = sigmoid(trans_rail * f["distress"] + sold(f["state"] , f["farmer_name"]))

C:\Users\Rishabh\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [90]:
best_farmer_state

'rajasthan'

In [91]:
best_farmer_name

2